$color-primary:linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);;
$color-primary-2:#fdf6eb;
$color-secondary: #A02279;
$border:#0000;
$font-primary:Red Rose, "sans-serif";
$font-secondary: Red Rose "sans-serif";
$font-primary:1.3rem;

$bp-large: 68.75em;  
// 1100px  
$bp-small: 56.25em;  
// 900px  
$bp-tab: 50em;
// 800px
$bp-tab1: 46.875em;
// 750

html{
    box-sizing: border-box;
    font-size: 50.5%;

    @media only screen and (max-width:$bp-large){
        font-size: 45%;
   }

   @media only screen and (max-width:$bp-small){
    font-size: 40%;
  
}
 
@media only screen and (max-width:$bp-tab){
    font-size: 37%;
}

@media only screen and (max-width:$bp-tab1){
    font-size: 39%;
}
   
}

body{
    background-color: $color-primary;
    font-family:Red Rose;
    font-weight: 400;
    font-size:$font-primary; 
    line-height: 3rem; 

}

