$color-primary:linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);;
$color-primary-2:#fdf6eb;
$color-secondary: #A02279;
$border:#0000;
$font-primary:Red Rose, "sans-serif";
$font-secondary: Red Rose "sans-serif";
$font-primary:1.3rem;

$bp-large: 68.75em;  
// 1100px  
$bp-small: 56.25em;  
// 900px  
$bp-tab: 50em;
// 800px
$bp-tab1: 46.875em;
// 750
$bp-tab2: 40.875em;
// 650
$bp-tab3: 35.5em;
// 500
$bp-phone: 28.12em;
// 450
$bp-phone1: 23.12em;
// 370
$bp-phone2: 20.12em;
// 335
$bp-phone2: 16.12em;
$bp-phone3: 1.12em;

html{
    box-sizing: border-box;
    font-size: 50.5%;

    @media only screen and (max-width:$bp-large){
        font-size: 45%;
   }

   @media only screen and (max-width:$bp-small){
    font-size: 40%;
  
}
 
@media only screen and (max-width:$bp-tab){
    font-size: 37%;
}

@media only screen and (max-width:$bp-tab1){
    font-size: 35%;
}

@media only screen and (max-width:$bp-tab2){
    font-size: 30%;
}
@media only screen and (max-width:$bp-tab3){
    font-size: 29%;
}
@media only screen and (max-width:$bp-phone){
    font-size: 25%;
}

@media only screen and (max-width:$bp-phone1){
    font-size: 20%;
}
@media only screen and (max-width:$bp-phone1){
    font-size: 18%;
}
@media only screen and (max-width:$bp-phone2){
    font-size: 15%;
}
@media only screen and (max-width:$bp-phone3){
    font-size: 10%;
}
   
}

body{
    background-color: $color-primary;
    font-family:Red Rose;
    font-weight: 400;
    font-size:$font-primary; 
    line-height: 3rem; 

}

