.header{
   margin-top: 3rem;
   @media only screen and (max-width:$bp-large){
       margin-top:8rem;
 }
}
.logoicon{
   @media only screen and (max-width:$bp-tab1){
     width: 4rem;
     height: 4rem;
} 
}

.logo{
   @media only screen and (max-width:$bp-tab1){
      width: 15rem;
    
 } 
}

.nav{
    grid-column: 1/ -1;
    
    &__list{
       
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
             list-style: none;
             padding: 0px;

             @media only screen and (max-width:$bp-tab){
               display: flex;
               float: left;
               gap:2rem;
         }
         margin-top: 3rem;
        @media only screen and (max-width:$bp-tab1){
         display: flex;
         flex-wrap: wrap;
         align-items: center;
            gap: 2rem;
          list-style: none;
   
          font-size: 2rem;
          
      }
      @media only screen and (max-width:$bp-phone){
         display: inline;
     }
    }

    &__link{
        text-decoration: none;
        font-family: Red Rose;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.5rem;
        letter-spacing: 0em;
        color: #000;
    }

    &__btn{
    color: #fff;
    font-size: 2rem;
    height: 6rem;
    width: 20rem;
    top:0px;
    font-family: Red Rose;
    top: 346px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #A3A3A3;
    cursor: pointer;

    @media only screen and (max-width:$bp-large){
      font-size: 1.5rem;
 }
      @media only screen and (max-width:$bp-small){
         width: 18rem;
         font-size: 1.3rem;
      }
    }
}
.btn__link{
   
      text-decoration: none;
      font-family: Red Rose;
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.5rem;
      letter-spacing: 0em;
      color: #fff;
      cursor: pointer;
   
}

.image1{
   grid-column: 2/ sapn 2;
   @media only screen and (max-width:$bp-tab){
     margin: 0px;
   }
}


.intro{
   margin-top: 10rem;
    grid-column: 1/-1;
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 6rem) ;
    grid-gap:1.5rem;
    margin-top: 3rem;
   @media only screen and (max-width:$bp-tab1){
       margin-top:4rem;
       display: grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 6rem) ;
    grid-gap:1.5rem;
    margin-top: 3rem;
 }
    
   
}
.intro__text{
   grid-column: 1/ span 5; 
   
   @media only screen and (max-width:$bp-tab1){
       margin-top: 0px;
       grid-row: 2/ span 5;
 }

 @media only screen and (max-width:$bp-tab1){
   font-size: 2rem;
}
@media only screen and (max-width:$bp-tab1){
   font-size: 1.5rem;
}
   
   
 }
 .heading__1{
    font-family: Red Rose;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 7.8rem;
    letter-spacing: -0.02em;
    text-align: left;
    @media only screen and (max-width:$bp-tab1){
      font-size: 3rem;
      font-weight: 500;
    line-height: 4.8rem;
   //  letter-spacing: -0.02em;
    text-align: left;
   }
   @media only screen and (max-width:$bp-tab1){
      font-size: 3rem;
      font-weight: 500;
    line-height: 3.8rem;
   //  letter-spacing: -0.02em;
    text-align: left;
   }
    
 }
 .para{
    font-family: Red Rose;
    font-size: 2rem;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #434343;
    @media only screen and (max-width:$bp-tab1){
      font-size: 1.5rem;
      font-weight: 300;
    line-height: 15px;
   //  letter-spacing: -0.02em;
    text-align: left;
   }

 }
 .input-search{
    height: 7rem;
    width: 60%;
    left: 0px;
    border: 1px solid #A3A3A3;
    border-right: #fff;
    font-family: Red Rose;
    border-radius: 5px;
    font-size: 2rem;
 }
 ::placeholder{
   padding-left: 2rem;
    
 }

 .btn{
    color: #fff;
    font-size: 2.5rem;
    height: 8rem;
    top:0px;
    font-family: Red Rose;
    width: 35%;
    top: 346px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #A3A3A3;
    cursor: pointer;
    
 }

 .intro{

     
    &__image{
       width: 100%;
       height: 100%;
       object-fit: cover;
       display: block;
       margin: 0px;
       border-radius: 2rem;
    }
    &__item-3{
        grid-column: 9/span 3;
        grid-row: 4/ span 3;
    }

    &__item-2{
        grid-column: 7/span 2;
        grid-row: 2/ span 3;
    }

    &__item-1{
        grid-column: 9/span 3;
        grid-row: 1/ span 3;
    }

    &__item-4{
        grid-column: 7/span 2;
        grid-row: 5/ 8;
    }
 }

 .purple__frame{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    height: 8rem;
    cursor: pointer;

   }

.purple_img{
   @media only screen and (max-width:$bp-small){
      width: 20rem;
      
 }
 }

 .inspo-h1{
   text-align: center;
   grid-column: 1/-1;
   font-family: Red Rose;
   margin-bottom: 8rem;
   margin-top: 8rem;
   font-size: 4rem;
 }

 .framecontainer{
   border: 2px solid #A3A3A3 ;
   max-width: 18%;
   padding: 2rem;
   border-radius:2rem ;

   @media only screen and (max-width:$bp-small){
      max-width: 16%;
 }
   @media only screen and (max-width:$bp-tab1){
      max-width: 35%;
   }
   @media only screen and (max-width:$bp-tab3){
      max-width: 50%;
  }
 }

 .frame-text{
   display: flex;
  justify-content: space-between;
   
 }

 .frametext2{
   display: flex;
   justify-content: space-between;
   gap: 1.5rem;
   // grid-template-columns: repeat(2, 1fr);
   
 }
 
 .frame{
  width: 100%;
 }
.p{
   font-size: 5px;
}

.star{
   height: 2rem;
   width: 2rem;
   margin-right: 1rem;
}
// ////////////////////////////
.product{
   background-color: #A02279;
   padding-top: 15rem;

   &__text{
      color: #fff;
      font-size: 3rem;
      line-height: 4rem;
      letter-spacing: 2px;
      @media only screen and (max-width:$bp-tab1){
         font-size: 2rem;
       
    }
   }

   &__img{
      max-width: 80%;
   }

   &__btn{
   color:#A02279;
    font-size: 2.5rem;
    height: 6rem;
    width: 25rem;
    top:0px;
    font-family: Red Rose;
    top: 346px;
    background: linear-gradient(90deg, #fff 11.45%, #fff 11.46%);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #A3A3A3;
    cursor: pointer;
    
   }
}

.footer{
   color: #fff;
   padding: 10rem 15rem 0px;
   display: flex;
   justify-content: space-around;
   align-content: center;
   align-items: center;

   &__sub{

      margin-right: 1rem;
   }
   

   &__list{
      list-style: none;
   }

   &__link{
      text-decoration: none;
      font-family: Red Rose;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.2rem;
      letter-spacing: 0em;
      color: #fff;
   }

   &__social{
      margin-top: 5rem;
      margin-bottom: 5rem;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      @media only screen and (max-width:$bp-small){
         display: block;
         margin-top: 5px;
         margin-bottom: 0px;
        
       
    }
   }
}

.para2{
   font-size: 1.8rem;
}

.footer__logo{
   @media only screen and (max-width:$bp-small){
  width: 15rem;    
 }
}

// ////////////////////////////////PLACES

.place{
   grid-column: 1/-1;
 
   &__list{
      display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
             list-style: none;
             padding: 0px;
             margin-bottom: 6rem;
             margin-top: 12rem;
             @media only screen and (max-width:$bp-tab3){
               display: flex;
               float: left;
               gap: 3rem;
   
              }

              @media only screen and (max-width:$bp-tab3){
               display: flex;
               float: left;
               gap: 1rem;
   
              }  
    }

    &__link{
        text-decoration: none;
        font-family: Red Rose;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.5rem;
        letter-spacing: 0em;
        color: #000;

        @media only screen and (max-width:$bp-tab3){
        
               
   
              }
    }

    &__btn{
      color:#0e0d0d;
       font-size: 2.5rem;
       height: 8rem;
       width: 23rem;
       top:0px;
       font-family: Red Rose;
       background: linear-gradient(90deg, #fff 11.45%, #fff 11.46%);
       border-radius: 10px 10px 10px 10px;
       border: 1px solid #A3A3A3;
       cursor: pointer;
       position: relative;
       transition: .3s;
       text-align: start;
       align-items: center;
       padding-left: 2rem;
       
       @media only screen and (max-width:$bp-tab3){
         width: 15rem;
         height: 4rem; 
         padding-left: 1rem; 
         font-size: 1.8rem;  
        }

       
      }

      &__icon{
         height: 4rem;
         width: 4rem;
         margin-left: 4rem;
         position: absolute;
        
         @media only screen and (max-width:$bp-tab3){
            height: 2rem;
            width: 2rem;
            margin-left: 2rem;
            position: absolute;
           }
      }
   
}
.btn__link2{
   
   text-decoration: none;
   font-family: Red Rose;
   font-size: 2rem;
   font-weight: 400;
   line-height: 2.5rem;
   letter-spacing: 0em;
   color: #000;
   cursor: pointer;
   text-align: center;

}

// /////////////////MODAL
 
 .modal {
         background: rgba(0, 0, 0, 0.6);
         position: fixed;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: 1;
      
        &__outline{
         background-color:#fff;
         box-shadow: 2px 3px 3px 3px rgba(35, 5, 37, 0.5);
         border-radius: 2rem;
         text-align: start;
         width: 55rem;
         height: 55rem;
         margin: 7rem auto;
         padding: 2rem;
         @media only screen and (max-width:$bp-tab3){
            width: 85rem;
            height: 60rem;
           }

           @media only screen and (max-width:$bp-tab2){
            width: 85rem;
            height: 60rem;
           }
           @media only screen and (max-width:$bp-tab1){
            width: 80rem;
            height: 60rem;
           }
        }
        

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
         padding: 5px;
       }

      &__text{
         font-size: 2rem;
   
      }

       &__input{ 
        
         background-repeat: no-repeat;
         width: 95%;
         height: 8rem;
         border: 1px solid #CFD8DC;
         border-radius: 1rem;
         background-color: #fff;
         font: var(--font-colour);
         font-size: large;
         margin: 10px auto 1px;
         outline: none;  
         align-items: center;
         @media only screen and (max-width:$bp-tab3){
           
            height: 10rem;
           }
     }
 }

 .metamask{
   background-image: url("../../public/img/image\ 66.png");
   margin-top: 5rem;
   background-position: 4%;
   @media only screen and (max-width:$bp-tab3){
      // background-image: url("../../public/img/image\ 66.png");
      background-size: 30px;
      
     }

     @media only screen and (max-width:$bp-tab2){
      // background-image: url("../../public/img/image\ 66.png");
      background-size: 30px;
      
     }
 }

 .wallet{
   background-image: url("../../public/img/image\ 69.png");
   margin-top: 5rem;
   background-position: 4%;
   @media only screen and (max-width:$bp-tab3){
      // background-image: url("../../public/img/image\ 66.png");
      background-size: 30px;
      
     }
  
     @media only screen and (max-width:$bp-tab2){
      // background-image: url("../../public/img/image\ 66.png");
      background-size: 30px;
      
     }
 }

 .modal__input::placeholder{
   padding-left: 18%;  
   }
 
   .modal__header{
      border-bottom: .5px solid rgb(194, 191, 191);
      padding-bottom: 2rem;
      width: 100%;
   }



 .closeicon {
   width: 3rem;
   height: 3rem;
   top: 2px;
   right: 1px;
   bottom: 100px;
   cursor: pointer;
 }
  
 .modalbtn{
   color:#0e0d0d;
   font-size: 2.5rem;
   cursor: pointer;
   position: relative;
   text-align: center;
   border: none;
   background-color: #fff;
  
 }
 .imagediv{
   display: flex;
   flex-direction: column;
   justify-items: start;
   align-items: center;
   
 }

 .mh4{
   font-size: 2rem;
 padding-top: 2rem;
 }